<div class="row bg-light" style="height: 50px;">
  <div class="col align-self-center">
    <a class="nav-link text-dark service">
      <h4 class="mb-0 ml-2">Animal HR</h4>
    </a>
  </div>
  <div class="col d-flex ml-auto align-self-center justify-content-end">
    <a
      class="nav-link text-dark pr-0"
      routerLinkActive="active"
      routerLink="employees"
      style="cursor: pointer;"
    >
      Employees
    </a>
    <a
      class="nav-link text-dark"
      routerLinkActive="active"
      routerLink="teams"
      style="cursor: pointer;"
    >
      Teams
    </a>
  </div>
</div>
