<div class="container mt-3">
  <button class="btn btn-info" [routerLink]="['/teams/', id]">
    &larr; Back to team
  </button>
  <img
    class="d-block mx-auto"
    [src]="team.image"
    alt=""
    style="height: 100px;"
  />
  <form>
    <label for="image">Team Image:</label>
    <select id="image" class="form-control mb-3">
      <option>Image</option>
    </select>
    <label for="name">Team Name:</label>
    <input class="form-control mb-3" type="text" id="name" />
    <label for="description">Team Description:</label>
    <textarea class="form-control mb-3" id="description"></textarea>
    <button class="btn btn-warning mb-3">Add Team Member</button>
    <div class="form-row mb-3">
      <div class="col-6">
        <label for="teamMembers">Team Member:</label>
        <select class="form-control" id="teamMembers">
          <option>John Manning Test</option>
        </select>
      </div>
      <div class="col-4 row align-items-end">
        <div class="col-12 col-md-8  text-md-right">
          <label for="from-check-label">Make Team Leader:</label>
        </div>
        <div class="col-12 col-md-4 d-flex  align-items-start">
          <input
            class="form-control"
            name="teamLeader"
            id="teamLeader"
            type="radio"
          />
        </div>
      </div>
      <div class="col-1 d-flex align-items-end">
        <button class="btn btn-danger">x</button>
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="col-6">
        <label for="teamMembers">Team Member:</label>
        <select class="form-control" id="teamMembers">
          <option>John Manning Test</option>
        </select>
      </div>
      <div class="col-4 row align-items-end">
        <div class="col-12 col-md-8  text-md-right">
          <label for="from-check-label">Make Team Leader:</label>
        </div>
        <div class="col-12 col-md-4 d-flex  align-items-start">
          <input
            class="form-control"
            name="teamLeader"
            id="teamLeader"
            type="radio"
          />
        </div>
      </div>
      <div class="col-1 d-flex align-items-end">
        <button class="btn btn-danger">x</button>
      </div>
    </div>
  </form>
  <div class="text-center mt-5">
    <button class="btn btn-success mr-3" type="submit" style="width: 180px;">
      Save Changes
    </button>
    <button class="btn btn-danger" style="width: 180px;" type="button">
      Remove Team
    </button>
  </div>
</div>
