<div class="container">
  <button class="btn btn-info mt-3" type="button" routerLink="add">
    Add New Employee
  </button>
  <h1 class="display-3 text-center mb-4">Employees</h1>
  <input
    class="form-control mb-5 text-center"
    type="text"
    placeholder="Search For Employee Here"
    [(ngModel)]="query"
  />
  <div *ngIf="employees" class="row">
    <div
      class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2"
      *ngFor="let employee of employees | search: query"
      routerLink="{{ employee.id }}"
    >
      <a style="cursor: pointer;">
        <div class="card text-center align-self-center">
          <img
            class="card-img-top mt-1 align-self-center"
            src="{{ employee.profileImage }}"
            alt="Profile Photo"
            style="width: auto; height: 120px;"
          />
          <div class="card-body">
            <h4 class="card-title">
              {{ employee.firstName }} {{ employee.lastName }}
            </h4>
            <p class="card-text m-0">Position: {{ employee.position }}</p>
            <p class="card-text m-0">Team: {{ employee.team }}</p>
            <hr />
            <p class="card-text m-0">{{ employee.performanceRating }}/10</p>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="container mt-3">
    <router-outlet></router-outlet>
  </div> -->
  </div>
  <div *ngIf="!employees" class="d-flex flex-column align-items-center">
    <h3 class="display-4 text-center">No Employees Added</h3>
    <button class="btn btn-info mt-3" type="button" routerLink="add">
      Add New Employee
    </button>
  </div>
</div>
