<div class="container">
  <button class="btn btn-info mt-3">Add New Team</button>
  <h1 class="display-3 text-center mb-4">Teams</h1>
  <input
    class="form-control mb-5 text-center"
    type="text"
    placeholder="Search For Teams Here"
    [(ngModel)]="query"
  />
  <div class="row ">
    <div
      class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2"
      *ngFor="let team of teams | search: query"
    >
      <a style="cursor: pointer;">
        <div class="col card text-center align-self-center">
          <img
            class="card-img-top mt-1 align-self-center"
            src="{{ team.image }}"
            alt="Profile Photo"
            style="width: auto; height: 100px;"
          />
          <div class="card-body">
            <h4 class="card-title">
              {{ team.name }}
            </h4>

            <p>
              {{ team.description }}
            </p>
            <hr />
            <div class="row justify-content-center align-items-center">
              <p class="card-text mb-0 mr-2">
                Team Leader: {{ team.leader.firstName }}
                {{ team.leader.lastName }}
              </p>
              <img
                class="d-block "
                src="{{ team.leader.profileImage }}"
                alt=""
                style="width: 50px;"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
