.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.app-modal {
  position: relative;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  background-color: white;
  z-index: 101;
  padding: 15px;
  border-radius: 10px;
}

.modal-action {
  text-align: right;
}
